#WELCOME{
font-size: 100px;
font-family: 'Cormorant Infant', serif;
font-weight: bold;
font-family: 'Cormorant Infant', serif;
margin-top: 8%;
margin-left: 1%
;

/*text-align: center;*/
opacity: 75%;
text-shadow: 2px 2px black;
}

#are{
font-family: 'Cormorant Infant', serif;
font-weight: bold;

margin-top: 2%;
margin-left: 1%
;

/*text-align: center;*/
opacity: 100%;	
font-size:20px;
}
body {
	background-image:url(../Images/Website/Farmer.jpg); 
	background-repeat:no-repeat;
	/*background-position: center center;*/
	text-align: center;
	background-size:100% 100%;
	background-attachment: fixed;
}
 
 #Farmerbutton{
/*height: 100px;
width: 100px;*/
align-items: center;
/*opacity: 100%;*/
background-color:transparent;
font-size: 50px;
/*border-spacing:10px; */
border-style:solid;
margin-left: -20%;
border-width: 2px;
border-radius: 25%;
border-color:black;
m
}
#ps{
margin-left: 10px;	
}